.settings .right_body{
    width: 20%;
    height: 100%;
    padding: 10px;
}
.settings .right_body .leftbar {
    height: 100%;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settings .right_body .leftbar a {
    padding: 15px;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
.settings .right_body .leftbar a.activity {
    /* position: sticky; */
    width: 110%;
    background-color: #fff8;
    background: #fff;
    box-shadow: 0 .1rem .4rem #0002;
    border-radius: 3px;
}
.settings .left_body{
    width: 80%;
    height: 100%;
    padding: 10px;
}
.settings .left_body .content {
    height: 100%;
    width: 100%;
    /* padding: 20px; */
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;
}
.settings .left_body .content::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.settings .left_body .content::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.settings .left_body .content:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.settings .left_body .content section {
    height: 90vh;
}
.settings .left_body .content #structure .morecontent {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
}
.settings .left_body .content #structure .tree_view {
    height: 100%;
    width: 30%;
    padding: 10px;
    box-shadow: 0 0.1rem 0.4rem #0002;
}
.settings .left_body .content #structure .tree {
    height: 93%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: 2px solid #0002;
}
.settings .left_body .content #structure div.com_name {
    height: 7%;
    width: 100%;
    padding: 7px;
    background: #F5B041;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
}
.settings .left_body .content #structure .tree::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.settings .left_body .content #structure .tree::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.settings .left_body .content #structure .tree:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.settings .left_body .content #structure .tree .list {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom: 0.5px solid #0000000d;
}
.settings .left_body .content #structure .tree .list .comfolder{
    width: 32px;
    height: 29px;
    background: url(img/com.png) no-repeat;
    transform: scale(0.6);
    margin: -5px 0px 0px -10px;
}
.settings .left_body .content #structure .tree .list .depfolder{
    width: 32px;
    height: 29px;
    background: url(img/dep.png);
    transform: scale(0.6);
    margin: -5px 0px 0px -10px;
}
.settings .left_body .content #structure .tree .list .appfolder{
    width: 32px;
    height: 29px;
    background: url(img/app.png);
    transform: scale(0.6);
    margin: -5px 0px 0px -10px;
}
.settings .left_body .content #structure .tree .list div:nth-child(3){
    margin: 2px 0px 0px -16px;
}
.settings .left_body .content #structure .tree_add {
    height: 100%;
    width: 70%;
    padding: 20px;
    display: grid;
    place-items: center;
    position: sticky;
}
.settings .left_body .content #structure .tree_add .popup-btn{
    border: none;
    outline: none;
    height: 50px;
    width: 180px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0.3rem 0.3rem 0.8rem #00000087;
    background: #212121;
    border-radius: 5px;
    color: #fff;
    transition: .4s;
    overflow: hidden;
    margin: 15px 0px 0px -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 10px;
}
.settings .left_body .content #structure .tree_add .more_item td:first-child {
    padding: 10px 10px 0px 0px;
    color: #626262;
}
.settings .left_body .content #structure .tree_add .more_item td:last-child {
    padding: 10px 10px 0px 15px;
}
.settings .left_body .content #structure .this_more table tr:first-child td {
    padding: 0px 0px 0px 0px !important;
    letter-spacing: 2px;
    font-size: 24px;
}
.settings .left_body .content #structure .this_more table tr:first-child td div{
    margin: 0px 0px 5px -20px;
    width: 360px;
    color: #000;
    border-bottom: 1px dashed #e1e1e1;
}
.settings .left_body .content #timesettings .morecontent {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
}
.settings .left_body .content #timesettings .time_view {
    height: 100%;
    width: 30%;
    padding: 10px;
    box-shadow: 0 0.1rem 0.4rem #0002;
}
.settings .left_body .content #timesettings .time_add {
    height: 100%;
    width: 70%;
    padding: 20px;
    display: grid;
    place-items: center;
}
.settings .left_body .content #timesettings .time_list {
    height: 93%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: 2px solid #0002;
}
.settings .left_body .content #timesettings .time_list .list {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom: 0.5px solid #0000000d;
}
.settings .left_body .content #timesettings .time_title {
    height: 7%;
    width: 100%;
    padding: 7px;
    background: #F5B041;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 3px;
}
.settings .left_body .content #timesettings .time_list::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.settings .left_body .content #timesettings .time_list::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.settings .left_body .content #timesettings .time_list:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.settings .left_body .content #ipsettings .morecontent {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
}
.settings .left_body .content #ipsettings .Ip_view {
    height: 100%;
    width: 30%;
    padding: 10px;
    box-shadow: 0 0.1rem 0.4rem #0002;
}
.settings .left_body .content #ipsettings .Ip_add {
    height: 100%;
    width: 70%;
    padding: 20px;
    display: grid;
    place-items: center;
}
.settings .left_body .content #ipsettings .Ip_list {
    height: 93%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: 2px solid #0002;
}
.settings .left_body .content #ipsettings .Ip_list .list {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom: 0.5px solid #0000000d;
}
.settings .left_body .content #ipsettings .Ip_title {
    height: 7%;
    width: 100%;
    padding: 7px;
    background: #F5B041;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 3px;
}
.settings .left_body .content #ipsettings .Ip_list::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.settings .left_body .content #ipsettings .Ip_list::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.settings .left_body .content #ipsettings .Ip_list:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.settings .left_body .content #others {
    height: 100%;
    width: 100%;
}
.settings .left_body .content #others .morecontent{
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
}