{% extends 'login.html' %}

{% block content %}
 <form action="{% url 'loginClick' %}" method="POST" class="input-box" novalidate>
    {% csrf_token %}
    <header>Нэвтрэх</header>
    <div class="input-field">
        <input type="text" class="input" id="email" name="email" required autocomplete="off">
        <label for="email">Нэвтрэх нэр</label>
    </div>
    <div class="input-field">
        <input type="password" class="input" id="password" name="password" required>
        <label for="password">Нууц үг</label>
    </div>
    <div class="input-field">
        <button class="submit" type="submit">Нэвтрэх</button>
    </div>
    <div class="signin">
        <span>Компаний бүртэглээ үүсэгсэн үү? <a href="{% url 'logintosign' %}">Бүртгүүлэх</a></span>
    </div>
    <div class="signin">
        <span>Нууц үгээ мартсан бол. <a href="{% url 'logintoforget' %}">Нууц үг сэргээх</a></span>
    </div>
 </form>
{% endblock content %}