<div id="popup-container">
    <div id="popup-content">
        <h1 style=" font-size: 1.9rem; ">Бүтэц үүсгэх</h1>
        <p>Стандартын дагуу IP-гаа бүртгүүлнэ үү.</p>
        <form action="" method="POST" class="input-box ippopup" novalidate="" datas="">
            <div class="input-field">
                <input type="text" class="input" id="ip" name="ip" required>
                <label for="ip">IP Хаяг</label>
            </div>
            <div class="input-field">
                <input type="text" class="input" id="desc" name="desc" required>
                <label for="desc">Тэмдэглэл</label>
            </div>
            <div class="popup-bttn">
                <div id="save-popup">Хадгалах</div>
                <div id="close-popup">Гарах</div>
            </div>
        </form>
    </div>
</div>