<div id="popup-container">
    <div id="popup-content" style="width: 950px !important;">
        <h1 style=" font-size: 1.9rem; ">Цагийн хуваарь үүсгэх</h1>
        <p>Уян хатан цагийн хуваарь тохируулана.</p>
        
        <form id="timepopup" method="POST" class="input-box" datas="">            
            <div class="input-field">
                <input type="text" value="" class="input" id="name" name="name" required>
                <label for="name">Цагийн хуваарийн нэр</label>
            </div>
            <div class="input-group">
                <span class="input-group-text">Тайлбар</span>
                <textarea class="form-control description" aria-label="With textarea"></textarea>
            </div>
            <div class="time_pop_lists">
                <div class="time_pop_list 1d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="1r" >
                        
                    </div>
                    <div>Даваа</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
                <div class="time_pop_list 2d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="2r" >
                        
                    </div>
                    <div>Мягмар</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
                <div class="time_pop_list 3d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="3r" >
                        
                    </div>
                    <div>Лхагва</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
                <div class="time_pop_list 4d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="4r" >
                        
                    </div>
                    <div>Пүрэв</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
                <div class="time_pop_list 5d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="5r" >
                        
                    </div>
                    <div>Баасан</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
                <div class="time_pop_list 6d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="6r" >
                        
                    </div>
                    <div>Бямба</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
                <div class="time_pop_list 7d">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="7r" >
                        
                    </div>
                    <div>Ням</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input read is_flixible" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Уяан&nbsp;хатан&nbsp;цаг</label>
                    </div>
                    <div class="cs-form">
                        <input type="time" class="form-control read s1" title="Эхлэх цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read s2" title="Ажилд ирэх сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                    <div class="cs-form">
                        <input type="time" class="form-control read e1" title="Тарах цаг" value="10:05 AM" />
                    </div>-
                    <div class="cs-form">
                        <input type="time" class="form-control read e2" title="Ажил тарах сүүлийн хугацаа" value="10:05 AM" />
                    </div>;
                </div>
            </div>
            <div class="input-field">
                <input type="number" class="input" id="penalty" name="penalty" value="0" required>
                <label for="penalty">Мөнгөн торгууль</label>
            </div>
            <div class="popup-bttn">
                <div id="save-popup">Хадгалах</div>
                <div id="close-popup">Гарах</div>
            </div>
        </form>
    </div>
</div>