{% extends 'home.html' %}

{% block content %}
<div class="table settings">
    <div class="right_body">
        <div class="leftbar">
            <a href="#structure"><span>-</span>Байгууллагын бүтэц</a>
            <a href="#timesettings"><span>-</span>Цагийн тохиргоо</a>
            <a href="#ipsettings"><span>-</span>IP тохирууллага</a>
            <a href="#others"><span>-</span>Бусад</a>
        </div>
    </div>
    <div class="left_body">
        <div class="content">
            <section id="structure"><div class="morecontent">
                <div class="tree_view">
                    <div class="com_name">
                        {% for tree in tree_com %}
                            <span id="{{tree.id}}">{{tree.name}}</span>
                        {% endfor %}
                    </div>
                    <div class="tree" tree="{{tree_all}}">
                    </div>
                </div>
                <div class="tree_add">
                    <div class="this_more"></div>
                </div>
            </div></section>
            <section id="timesettings"><div class="morecontent">
                <div class="time_view">
                    <div class="time_title">Шугаман цагийн хуваарь</div>
                    <div class="time_list">
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                    </div>
                </div>
                <div class="time_add">
                    2
                </div>
            </div></section>
            <section id="ipsettings"><div class="morecontent">
                <div class="Ip_view">
                    <div class="Ip_title">Ip хаяг</div>
                    <div class="Ip_list">
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                        <div class="list"><div>*</div><div>list1</div></div>
                        <div class="list"><div>*</div><div>list2</div></div>
                        <div class="list"><div>*</div><div>list3</div></div>
                        <div class="list"><div>*</div><div>list4</div></div>
                        <div class="list"><div>*</div><div>list5</div></div>
                        <div class="list"><div>*</div><div>list6</div></div>
                        <div class="list"><div>*</div><div>list7</div></div>
                        <div class="list"><div>*</div><div>list8</div></div>
                        <div class="list"><div>*</div><div>list9</div></div>
                        <div class="list"><div>*</div><div>list10</div></div>
                        <div class="list"><div>*</div><div>list11</div></div>
                        <div class="list"><div>*</div><div>list12</div></div>
                        <div class="list"><div>*</div><div>list13</div></div>
                    </div>
                </div>
                <div class="Ip_add">
                    3
                </div>
            </div></section>
            <section id="others"><div class="morecontent">
                
                <div class="ring">
                    <div>Ачаалж байна ...</div>
                </div>

            </div></section>
        </div>
    </div>
</div>
{% endblock content %}