{% extends 'home.html' %}

{% block content %}
<div class="table settings">
    <div class="right_body">
        <div class="leftbar">
            <a href="#structure"><span>-</span>Байгууллагын бүтэц</a>
            <a href="#timesettings"><span>-</span>Цагийн тохиргоо</a>
            <a href="#ipsettings"><span>-</span>IP тохирууллага</a>
            <a href="#others"><span>-</span>Бусад</a>
        </div>
    </div>
    <div class="left_body">
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                <div class="notification " style="z-index: 1; background-image: linear-gradient(to right, #539bdb, #3250bf);">
                    <p>{{ message }}</p>
                    <span class="notification_progress"></span>
                </div>
                {% endfor %}
            {% endif %}
            <section id="structure"><div class="morecontent">
                <div class="tree_view">
                    <div class="com_name">
                        {% for tree in tree_com %}
                            <span id="{{tree.id}}">{{tree.name}}</span>
                        {% endfor %}
                    </div>
                    <div class="tree" tree="{{tree_all}}">
                    </div>
                </div>
                <div class="tree_add">
                    <div class="this_more"></div>
                </div>
            </div></section>
            <section id="timesettings"><div class="morecontent">
                <div class="time_view">
                    
                    {% for tree in tree_com %}
                    <div class="time_title"><span id="{{tree.id}}">Шугаман цагийн хуваарь</span><span></span></div>
                    {% endfor %}
                    <div class="time_list">
                        {% for direct_list in direct_g %}
                            <div class="list" id="{{direct_list.id}}"><div class="time_icon"></div><div class="time_con"><div class="time_name">{{direct_list.name}}</div><div class="time_desc">{{direct_list.description}}</div></div></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="time_add">
                    <div class="this_more">

                    </div>
                </div>
            </div></section>
            <section id="ipsettings"><div class="morecontent">
                <div class="Ip_view">
                    {% for tree in tree_com %}
                    <div class="Ip_title"><span id="{{tree.id}}">Ip хаяг</span><span></span></div>
                    {% endfor %}
                    <div class="Ip_list">
                        {% for row in ips %}
                            <div class="list">
                                <div>//:</div>
                                <div class="ipname">{{row.ip}}</div>
                                <div class="ipdesc">{{row.desc}}</div>
                                <div class="ipDel" id="{{row.id}}"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div></section>
            <section id="others"><div class="morecontent">
                
                <div class="ring">
                    <div>Ачаалж байна ...</div>
                </div>

            </div></section>
        </div>
    </div>
</div>
{% endblock content %}